configuration {
    modi: "window,combi,ssh,drun,run,windowcd,keys";
	font: "SauceCodePro Nerd Font Mono 14";
	show-icons: true;
	icon-theme: "Win10Sur-black-dark";
	display-drun: "App";
}
@theme "Arc"
